.bodyCanis {
  background-color: black;
  background-image: url(./img/fondCanis.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; 
  background-size: 90%;
  background-position-y: 25%;
}

.canisMajorPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    padding-top: 2%;
    font-size: 3em;
    color: white;
    font-family: 'Righteous', 'Heebo', sans-serif;
  }
}

.resume__canisMajor {
  display: flex;
  flex-direction: row;
  color: white;
  font-family: 'Heebo', sans-serif;
  padding: 12% 10% 12% 10%;
  
  p{
    width: 35vw;
    padding-left: 20px;
    line-height: 2em;
    font-size: 1.2em;
    font-weight: bolder;
  }
}

.boutonCanis {
  color: white;
  font-family: 'Heebo', sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #3926E2;
  padding: 1.2em 2.6em;
  border-radius: 0.6em;
  border-color: #3926E2;
  color: #fff;
  background: {
    image: linear-gradient(45deg,#3926E2 50%, transparent 50%);
    position: 100%;
    size: 400%;
  }
  transition: background 300ms ease-in-out;
  
  &:hover {
    background-position: 0;
    cursor: none;
  }
}


