$chars : 13;
$duration : .60s;
$bounce : cubic-bezier(.4,1.4,.75,.9);
$scale : 5000;


body {
  background-color: black;
}

// First Section
.firstSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  z-index: 1;
}

.louisZawadka {
  font-family: 'Righteous', cursive;
  font-size: 8em;
  white-space: nowrap;
  color: white;
}

.postName {
  font-family: 'Righteous', cursive;
  color: white;
  font-size: 5em;
}

span {
  display: inline-block;
  animation: stretch $chars*$duration $bounce;
  transform-origin: center;
  
  @for $i from 1 through $chars {
    &:nth-of-type(#{$i}) {
      animation-delay: $i*$duration;
    }
  }
}

// Second Section

.skills {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  
}

.backgroundEffect {
  height: 100vh;
  width: 100vw;
  background: url(./img/motif-géométrique-png-1.png) repeat-x;
  background-size: 100vh;
  animation: slide 10s linear infinite;
  z-index: -1;
}

.aboutMe {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 22;
  position: absolute;
  top: 90vh;
}


