@import url('https://fonts.googleapis.com/css?family=Heebo');
@import url('https://fonts.googleapis.com/css?family=Heebo');

$chars : 13;
$duration : .60s;
$bounce : cubic-bezier(.4,1.4,.75,.9);
$scale : 5000;



a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

// First Section
.firstSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  z-index: 1;
}

.louisZawadka {
  font-family: 'Righteous', 'Heebo', cursive;
  font-size: 6.5em;
  white-space: nowrap;
  color: white;
}

.postName {
  font-family: 'Righteous', 'Heebo', cursive;
  color: white;
  font-size: 4em;
}

span {
  display: inline-block;
  animation: stretch $chars*$duration $bounce;
  transform-origin: center;
  
  @for $i from 1 through $chars {
    &:nth-of-type(#{$i}) {
      animation-delay: $i*$duration;
    }
  }
}

.downArrow {
  bottom: 2%;
  position: absolute;
  animation: bounce 3s infinite;
  left: 47%;
}


// Second Section

.mySkills {
  position: absolute;
  color: white;
  right: 0.1vw;
  top: 100vh;
  z-index: 99;
  height: 80vh;
}

.downArrow2 {
  position: absolute;
  bottom: -98vh;
  z-index: 99;
  animation: bounce 3s infinite;
}

.skills {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  
}

.backgroundEffect {
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.aboutMe {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 22;
  position: absolute;
  pointer-events: none;
}

canvas {
  width: 100vw;
  height: 100vh;
}

.pictureOfMe {
  width: 85%;
  position: absolute;
}



// Third Section

.lineGradient {
  width: 30vw;
  height: 0.5vh;
  background-image: linear-gradient(to right, black , #3926E2);
  animation: stars 3s infinite;
  z-index: 999; 
}
.lineGradient2 {
  width: 30vw;
  height: 0.5vh;
  background-image: linear-gradient(to right, black , #3926E2);
  animation: stars2 3s infinite; 
  z-index: 999; 
}
.lineGradient3 {
  width: 30vw;
  height: 0.5vh;
  background-image: linear-gradient(to right , #3926E2, black);
  animation: stars3 3s infinite; 
}

.asideProjects {
  position: absolute;
  color: white;
  right: 0.1vw;
  top: 200vh;
  z-index: 99;
  height: 80vh;
}

.projects {
  height: 92.5vh;
  width: 100vw;
  overflow: hidden;
  
}

.iconProjet {
  height: 151px;
  width: 161px;
}

.iconProjetCanis {
  height: 101px;
  width: 161px;
}

.canisMajorBlack {
  transform: translateY(28%);
  z-index: -99;
}

.allCards {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  //justify-content: space-around;
  flex-direction: column;
  margin-bottom: 3%;
  
  
  a {
    text-decoration: none;
  }
}

// Top line of projects
.topLine {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  width: 100vw;
  perspective: 1000;
  transform: translateY(5vh);
}

// Bot line of projects
.botLine {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  width: 100vw;
  perspective: 1000;
  transform: translateY(10vh);
}

.kirbyRunner {
  margin-right: 4%;
}

// Size of all logo on
.logoLouisVuitton {
  margin-left: 1%;
  margin-top: -1%;
  height: 161px;
  width: 161px;
}

//flip effect


/* entire container, keeps perspective */
.flip-container {
  -webkit-perspective: 1000;
  background: black;
}

/* flip the pane when clicked */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  -webkit-transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 280px;
	height: 300px;
}

/* flip speed goes here */
.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
  position: relative;
  // display: flex;
  // justify-content: center;

}

/* hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;
	position: absolute;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY(180deg);
  background: white;
  border-radius: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  p {
    font-family: 'Heebo', sans-serif;
    padding: 10px 20px;
    position: relative;
    bottom: -5vh;
    text-decoration: none;
    color: black;
    font-size: 1em;

    &:after {    
      background: none repeat scroll 0 0 transparent;
      bottom: 2%;
      content: "";
      display: block;
      height: 2px;
      left: 10%;
      position: absolute;
      background: #3926E2;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
      text-decoration: none;
    }
    &:hover:after { 
      width: 80%; 
      text-decoration: none; 
    }
  }
}



// footer 

footer {
  display: flex;
  justify-content: center;
  z-index: 999;
}

.footer {
  height: 7.5vh;
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2%;

  .logoReseau {
    height: 90%;
    width: 90%;
  }
}