//bounce effect

@keyframes bounce {
  0% {
    transform:translateY(0px);
    animation-timing-function: ease-out;
  }
  25% {
    transform:translateY(-35px);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  75% {
    transform: translateY(-35px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0px);
  }
}

//Gradient
@keyframes blinds {
  to {
    background-image: linear-gradient(90deg, #f90 100%, #444 0);
    transform: translateX(100vw);
  }
}