//keyframe du glitch
@keyframes stretch {
  5% { 
    transform: scaleX($scale);
    opacity: .1;
  }
  20% { 
    transform: scaleX(1);
    opacity: 1;
  }
}


//keyframe du background
@keyframes slide {
  0%{
    opacity: 0;
    transform: translate(-100vw, 20vh), rotateX(45deg);
  }
  10%{
    opacity: 1;
    
  }
  100%{
    transform: translateX(100vw);
  }
}


//bounce effect

@keyframes bounce {
  0% {
    transform:translateY(0px);
    animation-timing-function: ease-out;
  }
  25% {
    transform:translateY(-35px);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  75% {
    transform: translateY(-35px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0px);
  }
}