//bounce effect

@keyframes bounce {
  0% {
    transform:translateY(0px);
    animation-timing-function: ease-out;
  }
  25% {
    transform:translateY(-35px);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  75% {
    transform: translateY(-35px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes arrows {
  0% {
    border-left: 16.66667px solid transparent;
    border-bottom: 16.66667px solid transparent;
    transform: translate(53.33333px, 13.33333px) rotate(45deg);
  }
  10%, 90% {
    border-left: 16.66667px solid transparent;
    border-bottom: 16.66667px solid transparent;
  }
  50% {
    border-left: 16.66667px solid rgba(57, 38, 226, 0.555);
    border-bottom: 16.66667px solid rgba(57, 38, 226, 0.555);
    transform: translate(0px, 13.33333px) rotate(45deg);
  }
  100% {
    border-left: 16.66667px solid transparent;
    border-bottom: 16.66667px solid transparent;
    transform: translate(-53.33333px, 13.33333px) rotate(45deg);
  }
}

// // Stars 
// @keyframes stars {
//   0% {
//     transform: translateX(-60vw);
//   }
//   100% {
//     transform: translateX(150vw);
//   }
// }
// @keyframes stars2 {
//   0% {
//     transform: translate(160vw, 10vh);  
//   }
//   100% {
//     transform: translate(-100vw, 10vh);  
//   }
// }
// @keyframes stars3 {
//   0% {
//     transform: translate(160vw, -40vh);  
//   }
//   100% {
//     transform: translate(-100vw, -40vh);  
//   }
// }
